@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #b7d5e5;
}
:root {
  --color-primary: #b7d5e5;
}

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}